/* DIV STYLES */
	/* ABOUT DIV */
		.aboutDiv {
			padding-top: 80px;
			padding-bottom: 80px;
		}

	/* BLOG DIV */
		.blogDiv {
			padding-top: 80px;
			padding-bottom: 20px;
		}

		.blogDiv h1, .blogDiv h5, .blogDiv p {
			padding-bottom: 20px;
			word-wrap: break-word;
		}

	/* CONTACT DIV */
		.contactDiv {
			background-image: url("../img/backgrounds/splash-sunset.JPG");
			background-size: cover;
			padding-top: 0px;
		}

		.contactDiv h3 {
			padding-bottom: 20px;
		}

		.contactDiv a {
			color: white;
		}

		.contactDiv .glyphicon {
			position: relative;
			top: 3px;
			padding-right: 5px;
		}		

		.contactDivLeft {
			padding-top: 130px;
		}	

		.contactDivRight {
			padding-top: 170px; 
			color: white;
		}

		.contactDivRight select {
			margin-bottom: 10px; 
			width: 100%;
			font-size: 14px;
			border: solid 0px #ddd;
			height: 32px;
			background-color: lightgrey;
			color: black;
			cursor: pointer;
		}

		.contactDivRight textarea {
			width: 100%; 
			color: black; 
			margin-bottom: 10px;
		}

		.contactButton {
			background-color: #8DCBB4; 
			color: #222E41; 
			border: none; 
			font-weight: bold; 
			width: 100%;
			height: 32px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
		}

		.contactButton:hover {
			outline: none;
			border: none;
			background-color: #00A67B;
			color: #222E41;
		}



	/* HERO DIV */
		.landingDiv {
			background-image: url("../img/backgrounds/splash-oceanRocks.JPG");
			background-size: cover;
			background-position: center;
			padding-top: 0px;
		}

		.landingDivLeft {
			padding-top: 130px;
		}



	/* NEWSLETTER DIV */
		.newsletterDiv {
			padding: 170px 30px 0px 30px;
			background-color: rgba(34,46,65, 0.8);
			color: white;
		}

		.newsletterDiv p, .contactDivRight p {
			font-size: 13pt;
		}

		.newsletterDiv span, .contactDivRight span {
			color:#8DCBB4;
		}

		.newsletterDiv label, .contactDivRight label {
			font-size: 9pt;
			margin: 0px;
		}

		.newsletterDiv input, .contactDivRight input {
			width: 100%; 
			color: black;
		}

		input.newsletterName, input.contactName {
			margin-bottom: 10px;
		}

		input.newsletterEmail, input.contactEmail {
			margin-bottom: 20px;
		}

		input.newsletterButton {
			background-color: #8DCBB4; 
			color: #222E41; 
			border: none; 
			font-weight: bold; 
			width: 100%;
			height: 32px;
			-webkit-border-radius: 5px;
			-moz-border-radius: 5px;
			border-radius: 5px;
		}

		input.newsletterButton:hover {
			outline: none;
			border: none;
			background-color: #00A67B;
			color: #222E41;
		}

		p.newsletterTextSmall {
			text-align: center;
			font-size: 7pt; 
			padding-top: 10px;
		}

	/* SERVICES DIV */
		.servicesDiv {
			background-image: url("../img/backgrounds/splash-pinkSky.JPG");
			background-size: cover;
			padding-top: 80px;
			padding-bottom: 80px;
		}

		.whitebgServices {
			background-color: white;
			opacity: 0.8;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			border-radius: 10px;
			padding: 20px;
			margin: 0px;
		}

	/* TESTIMONIAL DIV */
		.testimonialDiv {
			background-color: lightblue;
			padding-top: 80px;
			padding-bottom: 80px;
		}



/* FONTS */
	h1 {
		font-size: 450%;
	}

	hr {
		padding-bottom: 20px;
	}



/* BLOG STYLE */
	.extrasRecentPosts {
		padding-top: 20px;
	}

	.extrasArchives, .extrasCategories {
		padding-top: 30px;
	}

	.blogExtras p {
		padding: 0px;
	}



/* GENERAL STYLE */
	.center {
		text-align: center;
	}

	.white {
		color: white;
	}

	.whitebg {
		background-color: white;
		opacity: 0.9;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		border-radius: 20px;
	}

	.fullWidth {
		width: 100%;
	}

	.dropShadow {
		text-shadow: 0px 0px 10px black;
	}

	.marginBottom {
		margin-bottom: 40px;
	}



/* IMAGES */
	.logoImg {
		position: relative;
		top: -1px;
		height: 40px;
	}
	.navBarFix li a {
		padding-top: 22px;
		height: 63px;
	}
	img {
	max-width: 100%;
	}

	.feature-image {
		display: table;
		width: 100%;
		margin-bottom: 0px;
	}
	.feature-image-default {
		background: url("../img/backgrounds/splash-sunset.JPG") no-repeat;
		background-size: cover;
	}

	.feature-image-default-alt {
		background: url("../img/backgrounds/splash-oceanRocks.JPG") no-repeat;
		background-size: cover;
	}

	.feature-image h1 {
		margin: 90px 0 30px;
	}



/* BLOG */
.post, .widget, #comments {
	position: relative;
	border: solid 1px #ddd;
	background: white;
	margin: 0 0 40px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.post header,
.post .post-excerpt,
.post .post-body,
#comments .comments-wrap {
	padding: 20px;
}

.post header h1,
.post header h3 {
	margin: 0 0 15px;
	padding: 0 0 15px;
	border-bottom: solid 1px #ddd;
}

.post header h1 {
	font-size: 24px;
}

.post-image {
	height: auto;
}

.post-details {
	font-size: 12px;
	width: 90%;
}

.post-details i.fa {
	padding-left: 10px;
}

.post-details i.fa:first-child {
	padding: 0;
}

#primary {
	padding-top: 35px;
	padding-bottom: 40px;
}

#primaryPost {
	padding-top: 100px;
	padding-bottom: 40px;
}



/* WIDGETS */
.widget {
	padding: 20px;
}

.widget h4 {
	margin: 0 0 10px;
	padding: 0 0 10px;
	border-bottom: solid 1px #ddd;
}

.widget ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.widget ul li {
	margin: 0 0 5px;
}

.widget ul li:hover {
	position: relative;
	left: 1px;
}

.btn-pacificano {
	background-color: #8DCBB4; 
	color: #222E41; 
}

.btn-pacificano:hover {
	background-color: #00A67B;
	color: #222E41; 
}



/* FORM */
label {
	display: block;
	font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	width: 100%;
	padding: 6px 12px;
}




/* COMMENTS */
.post-comments-badge {
	height: 70px;
	width: 70px;
	position: absolute;
	top: 25px;
	right: 20px;
	border: none;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	background: #8DCBB4;
	text-align: center;
	display: table;
}

.post-comments-badge a {
	display: table-cell;
	vertical-align: middle;
	color: #222E41;
	font-size: 20px;
	line-height: 20px;
	text-decoration: none;
}

.post-comments-badge i.fa {
	display: block;
	font-size: 15px;
	padding: 0;
	margin-bottom: 4px;
}

.post-comments-badge:hover {
	background-color: #00A67B;
}

#comments h3 {
	text-align: center;
}

#comments h4 {
	font-size: 1.3em;
}

#comments ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

#comments ol li {
	background: rgba(0, 0, 0, 0.08);
	padding: 10px 20px;
	margin: 10px 0;
	border-radius: 4px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border: solid 1px rgba(0, 0, 0, 0.2);
}

#comments ol li ol.children {
	padding: 0;
	list-style: none;
	font-size: 0.96em;
}

#leave-comment {
	margin: 40px 0 0;
	padding: 20px 0 0;
	border-top: solid 1px #eee;
}



/* MEDIA QUERIES */
	@media (max-width: 1200px) {
	  h1 {
	    font-size: 380%;
	  }
	  /*.newsletterDiv {
	  	padding-top: 30px;
	  	padding-bottom: 0px;
	  	margin-top: 60px;
	  	margin-bottom: 0px;
	  }*/
	}

	@media (max-width: 520px) {
	  h1 {
	    font-size: 280%;
	  }
	  .newsletterDiv {
	  	padding-top: 30px;
	  }
	}

	@media (max-width: 760px){
		.logoImg {
			position: relative;
			top: -1px;
			height: 30px;
		}
	}

	@media (max-width: 992px){
		.logoImg {
			position: relative;
			top: -1px;
			height: 30px;
		}
		.newsletterDiv {
		  	border-radius: 20px;
		}
	}

